In [1]:
import pandas as pd

In [31]:
df = pd.read_csv("final_dataset.csv", sep=',', quotechar='"')

In [32]:
df.head()

,Unnamed: 0,date,day_of_data,day_of_week,direction_of_travel,direction_of_travel_name,fips_state_code,functional_classification,functional_classification_name,lane_of_travel,...,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400,year_of_data
0,122,2015-05-03,3,1,1,North,37,4U,Urban: Minor Arterial,0,...,122,92,101,81,68,80,68,32,28,15
1,307,2015-06-12,12,6,7,West,37,7R,Rural: Local System,0,...,56,74,68,50,28,18,33,15,5,15
2,369,2015-04-01,1,4,1,North,37,1U,Urban: Principal Arterial - Interstate,0,...,3415,3356,3008,2706,2514,2197,1867,1184,749,15
3,385,2015-08-03,3,2,7,West,37,5U,Urban: Collector,0,...,72,114,119,127,79,69,59,21,16,15
4,718,2015-01-04,4,1,7,West,37,7R,Rural: Local System,0,...,29,29,26,17,15,7,9,6,10,15

In [33]:
df.drop(['day_of_data','functional_classification_name','direction_of_travel_name','record_type','restrictions','year_of_data'], axis=1, inplace=True)

In [34]:
df.tail()

,Unnamed: 0,date,day_of_week,direction_of_travel,fips_state_code,functional_classification,lane_of_travel,month_of_data,station_id,traffic_volume_counted_after_0000_to_0100,...,traffic_volume_counted_after_1400_to_1500,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400
44219,7139489,2015-04-11,7,1,37,4U,0,4,0A3103,59,...,359,346,316,343,414,315,179,161,141,129
44220,7139522,2015-10-23,6,1,37,3R,0,10,0W1401,30,...,420,394,454,410,367,260,202,140,127,136
44221,7139806,2015-01-08,5,1,37,1U,0,1,0A9108,393,...,3966,5019,5576,5581,4038,2617,1870,1505,1338,793
44222,7139915,2015-03-06,6,7,37,7R,0,3,0A3201,0,...,21,40,35,31,32,12,10,13,15,8
44223,7140333,2015-03-31,3,1,37,1R,0,3,0W7501,55,...,572,584,627,597,432,342,257,191,140,79

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44224 entries, 0 to 44223
Data columns (total 33 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 44224 non-null  int64
 1   date                                       44224 non-null  object
 2   day_of_week                                44224 non-null  int64
 3   direction_of_travel                        44224 non-null  int64
 4   fips_state_code                            44224 non-null  int64
 5   functional_classification                  44224 non-null  object
 6   lane_of_travel                             44224 non-null  int64
 7   month_of_data                              44224 non-null  int64
 8   station_id                                 44224 non-null  object
 9   traffic_volume_counted_after_0000_to_0100  44224 non-null  int64
 10  traffic_volume_counted_after_0100_to_0200  44224 non-null  int64
 11  traffic_volume_counted_after_0200_to_0300  44224 non-null  int64
 12  traffic_volume_counted_after_0300_to_0400  44224 non-null  int64
 13  traffic_volume_counted_after_0400_to_0500  44224 non-null  int64
 14  traffic_volume_counted_after_0500_to_0600  44224 non-null  int64
 15  traffic_volume_counted_after_0600_to_0700  44224 non-null  int64
 16  traffic_volume_counted_after_0700_to_0800  44224 non-null  int64
 17  traffic_volume_counted_after_0800_to_0900  44224 non-null  int64
 18  traffic_volume_counted_after_0900_to_1000  44224 non-null  int64
 19  traffic_volume_counted_after_1000_to_1100  44224 non-null  int64
 20  traffic_volume_counted_after_1100_to_1200  44224 non-null  int64
 21  traffic_volume_counted_after_1200_to_1300  44224 non-null  int64
 22  traffic_volume_counted_after_1300_to_1400  44224 non-null  int64
 23  traffic_volume_counted_after_1400_to_1500  44224 non-null  int64
 24  traffic_volume_counted_after_1500_to_1600  44224 non-null  int64
 25  traffic_volume_counted_after_1600_to_1700  44224 non-null  int64
 26  traffic_volume_counted_after_1700_to_1800  44224 non-null  int64
 27  traffic_volume_counted_after_1800_to_1900  44224 non-null  int64
 28  traffic_volume_counted_after_1900_to_2000  44224 non-null  int64
 29  traffic_volume_counted_after_2000_to_2100  44224 non-null  int64
 30  traffic_volume_counted_after_2100_to_2200  44224 non-null  int64
 31  traffic_volume_counted_after_2200_to_2300  44224 non-null  int64
 32  traffic_volume_counted_after_2300_to_2400  44224 non-null  int64
dtypes: int64(30), object(3)
memory usage: 11.1+ MB

In [36]:
df.head()

,Unnamed: 0,date,day_of_week,direction_of_travel,fips_state_code,functional_classification,lane_of_travel,month_of_data,station_id,traffic_volume_counted_after_0000_to_0100,...,traffic_volume_counted_after_1400_to_1500,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400
0,122,2015-05-03,1,1,37,4U,0,5,0A9501,10,...,117,122,92,101,81,68,80,68,32,28
1,307,2015-06-12,6,7,37,7R,0,6,0A6201,3,...,50,56,74,68,50,28,18,33,15,5
2,369,2015-04-01,4,1,37,1U,0,4,0A5903,391,...,3206,3415,3356,3008,2706,2514,2197,1867,1184,749
3,385,2015-08-03,2,7,37,5U,0,8,0A3501,9,...,70,72,114,119,127,79,69,59,21,16
4,718,2015-01-04,1,7,37,7R,0,1,0A3201,2,...,19,29,29,26,17,15,7,9,6,10

In [37]:
df_sum=df.groupby(['fips_state_code','functional_classification','station_id'],as_index=False).agg('sum')

In [39]:
df_sum.head(20)

,fips_state_code,functional_classification,station_id,Unnamed: 0,day_of_week,direction_of_travel,lane_of_travel,month_of_data,traffic_volume_counted_after_0000_to_0100,traffic_volume_counted_after_0100_to_0200,...,traffic_volume_counted_after_1400_to_1500,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400
0,37,1R,0A2502,2595824189,2864,2136,0,4656,258559,205382,...,1270244,1287199,1294039,1228585,1023723,821226,660296,546494,437846,338561
1,37,1R,0A5001,2669386581,2920,3640,0,4758,146699,95063,...,1099119,1153376,1203544,1185795,1008453,791201,603752,466809,346677,232828
2,37,1R,0A6303,2425158374,2786,2082,0,4516,233982,187657,...,1093173,1074369,1044640,981168,821579,671268,560302,470675,391902,304832
3,37,1R,0W7001,2069273611,2260,2800,0,3200,50663,34512,...,503639,529686,534267,519853,412119,303648,236086,181555,125618,78312
4,37,1R,0W7501,2580198218,2812,2100,0,4538,53605,35526,...,493955,512798,498261,483189,378301,283254,212242,164020,121154,87321
5,37,1R,0W8501,2559754651,2872,2148,0,4694,153196,122831,...,711484,718047,687360,650269,540127,457039,379481,311289,253002,200263
6,37,1U,0A1001,1512073564,1694,2100,0,1686,102917,63706,...,814221,889536,950611,994735,748553,537087,417740,349629,245244,168678
7,37,1U,0A1003,2515053065,2794,3480,0,4558,202951,154229,...,1339454,1394164,1424620,1440226,1123638,855718,672678,548976,410594,292105
8,37,1U,0A1101,2581477120,2916,3630,0,4746,143026,100224,...,1198831,1307079,1291015,1302097,979616,737855,577979,446084,344251,246921
9,37,1U,0A4013,2295085835,2650,3310,0,4470,200665,134629,...,1330381,1447208,1551089,1677902,1214554,857507,664504,540924,411042,306575
10,37,1U,0A5903,2151729507,2442,1806,0,4182,315210,210982,...,1524407,1586447,1600685,1576255,1409651,1215450,987698,848830,687623,503852
11,37,1U,0A9108,2394650485,2686,1986,0,4036,350686,199650,...,2572008,2836052,3013469,2742746,2387621,1743507,1359932,1184237,866141,590603
12,37,2U,0A2501,2568984777,2914,2172,0,4730,150308,98071,...,1264921,1344950,1470457,1438300,1095220,831175,629498,496266,356663,246153
13,37,2U,0A3104,1889203291,2174,1626,0,2726,163352,84696,...,1045840,1291384,1554634,1569801,1210327,799949,591416,498688,407774,278378
14,37,2U,0A4008,1809282016,2110,1572,0,3702,82009,48593,...,469397,520334,562358,629234,469678,340194,256229,207658,169591,132530
15,37,2U,0A4012,2131523258,2372,2960,0,4064,157765,102474,...,918849,1005992,1104234,1223375,902790,633665,497876,418193,325985,243675
16,37,2U,0A6405,2457759283,2888,3600,0,4706,107214,71083,...,1205078,1281151,1354165,1345533,1023825,722061,538471,423028,286468,189476
17,37,2U,0A9107,2322329741,2624,3270,0,4260,233411,132937,...,1474504,1678346,1887748,1875116,1547810,1039612,789249,714996,542386,378376
18,37,2U,0W1701,2553362557,2904,2172,0,4742,85430,61373,...,637307,727672,772760,826721,608564,439501,345498,275486,201647,136732
19,37,2U,0W2802,2602126654,2916,2178,0,4746,89365,59180,...,516506,576837,640428,673176,484065,348126,272834,227369,184669,138316

In [40]:
df_sum.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 0 to 66
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   fips_state_code                            67 non-null     int64
 1   functional_classification                  67 non-null     object
 2   station_id                                 67 non-null     object
 3   Unnamed: 0                                 67 non-null     int64
 4   day_of_week                                67 non-null     int64
 5   direction_of_travel                        67 non-null     int64
 6   lane_of_travel                             67 non-null     int64
 7   month_of_data                              67 non-null     int64
 8   traffic_volume_counted_after_0000_to_0100  67 non-null     int64
 9   traffic_volume_counted_after_0100_to_0200  67 non-null     int64
 10  traffic_volume_counted_after_0200_to_0300  67 non-null     int64
 11  traffic_volume_counted_after_0300_to_0400  67 non-null     int64
 12  traffic_volume_counted_after_0400_to_0500  67 non-null     int64
 13  traffic_volume_counted_after_0500_to_0600  67 non-null     int64
 14  traffic_volume_counted_after_0600_to_0700  67 non-null     int64
 15  traffic_volume_counted_after_0700_to_0800  67 non-null     int64
 16  traffic_volume_counted_after_0800_to_0900  67 non-null     int64
 17  traffic_volume_counted_after_0900_to_1000  67 non-null     int64
 18  traffic_volume_counted_after_1000_to_1100  67 non-null     int64
 19  traffic_volume_counted_after_1100_to_1200  67 non-null     int64
 20  traffic_volume_counted_after_1200_to_1300  67 non-null     int64
 21  traffic_volume_counted_after_1300_to_1400  67 non-null     int64
 22  traffic_volume_counted_after_1400_to_1500  67 non-null     int64
 23  traffic_volume_counted_after_1500_to_1600  67 non-null     int64
 24  traffic_volume_counted_after_1600_to_1700  67 non-null     int64
 25  traffic_volume_counted_after_1700_to_1800  67 non-null     int64
 26  traffic_volume_counted_after_1800_to_1900  67 non-null     int64
 27  traffic_volume_counted_after_1900_to_2000  67 non-null     int64
 28  traffic_volume_counted_after_2000_to_2100  67 non-null     int64
 29  traffic_volume_counted_after_2100_to_2200  67 non-null     int64
 30  traffic_volume_counted_after_2200_to_2300  67 non-null     int64
 31  traffic_volume_counted_after_2300_to_2400  67 non-null     int64
dtypes: int64(30), object(2)
memory usage: 17.3+ KB

In [41]:
df_sum

,fips_state_code,functional_classification,station_id,Unnamed: 0,day_of_week,direction_of_travel,lane_of_travel,month_of_data,traffic_volume_counted_after_0000_to_0100,traffic_volume_counted_after_0100_to_0200,...,traffic_volume_counted_after_1400_to_1500,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400
0,37,1R,0A2502,2595824189,2864,2136,0,4656,258559,205382,...,1270244,1287199,1294039,1228585,1023723,821226,660296,546494,437846,338561
1,37,1R,0A5001,2669386581,2920,3640,0,4758,146699,95063,...,1099119,1153376,1203544,1185795,1008453,791201,603752,466809,346677,232828
2,37,1R,0A6303,2425158374,2786,2082,0,4516,233982,187657,...,1093173,1074369,1044640,981168,821579,671268,560302,470675,391902,304832
3,37,1R,0W7001,2069273611,2260,2800,0,3200,50663,34512,...,503639,529686,534267,519853,412119,303648,236086,181555,125618,78312
4,37,1R,0W7501,2580198218,2812,2100,0,4538,53605,35526,...,493955,512798,498261,483189,378301,283254,212242,164020,121154,87321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,37,7R,0A9001,2651821965,2852,2130,0,4672,1319,888,...,12192,12495,12810,12927,11457,9831,7773,5850,3637,2490
63,37,7U,0A2503,2517128978,2900,3610,0,4740,17898,11901,...,95954,96314,105093,114768,101616,85876,72852,56419,41188,28245
64,37,7U,0A3502,2559786892,2912,3630,0,4746,1630,914,...,38901,28480,31594,29061,13411,8568,5862,7203,8707,2330
65,37,7U,0A5905,442921820,492,610,0,242,3965,2476,...,21335,22772,27321,34174,26089,17936,14985,11427,8723,6328
66,37,7U,0A9106,2126558765,2446,3030,0,3740,9001,5036,...,101800,115167,125149,152843,107043,73139,55957,43770,29704,17318

In [42]:
df_mean=df.groupby(['fips_state_code','functional_classification','station_id'],as_index=False).agg('mean')

In [43]:
df_mean.head(20)

,fips_state_code,functional_classification,station_id,Unnamed: 0,day_of_week,direction_of_travel,lane_of_travel,month_of_data,traffic_volume_counted_after_0000_to_0100,traffic_volume_counted_after_0100_to_0200,...,traffic_volume_counted_after_1400_to_1500,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400
0,37,1R,0A2502,3.645820e+06,4.022472,3.0,0.0,6.539326,363.144663,288.457865,...,1784.050562,1807.863764,1817.470506,1725.540730,1437.813202,1153.407303,927.382022,767.547753,614.952247,475.507022
1,37,1R,0A5001,3.666740e+06,4.010989,5.0,0.0,6.535714,201.509615,130.581044,...,1509.778846,1584.307692,1653.219780,1628.839286,1385.237637,1086.814560,829.329670,641.221154,476.204670,319.818681
2,37,1R,0A6303,3.494465e+06,4.014409,3.0,0.0,6.507205,337.149856,270.399135,...,1575.177233,1548.082133,1505.244957,1413.786744,1183.831412,967.244957,807.351585,678.206052,564.700288,439.239193
3,37,1R,0W7001,3.695131e+06,4.035714,5.0,0.0,5.714286,90.469643,61.628571,...,899.355357,945.867857,954.048214,928.308929,735.926786,542.228571,421.582143,324.205357,224.317857,139.842857
4,37,1R,0W7501,3.685997e+06,4.017143,3.0,0.0,6.482857,76.578571,50.751429,...,705.650000,732.568571,711.801429,690.270000,540.430000,404.648571,303.202857,234.314286,173.077143,124.744286
5,37,1R,0W8501,3.575076e+06,4.011173,3.0,0.0,6.555866,213.960894,171.551676,...,993.692737,1002.858939,960.000000,908.196927,754.367318,638.322626,530.001397,434.761173,353.354749,279.696927
6,37,1U,0A1001,3.600175e+06,4.033333,5.0,0.0,4.014286,245.040476,151.680952,...,1938.621429,2117.942857,2263.359524,2368.416667,1782.269048,1278.778571,994.619048,832.450000,583.914286,401.614286
7,37,1U,0A1003,3.613582e+06,4.014368,5.0,0.0,6.548851,291.596264,221.593391,...,1924.502874,2003.109195,2046.867816,2069.290230,1614.422414,1229.479885,966.491379,788.758621,589.933908,419.691092
8,37,1U,0A1101,3.555754e+06,4.016529,5.0,0.0,6.537190,197.005510,138.049587,...,1651.282369,1800.384298,1778.257576,1793.522039,1349.333333,1016.329201,796.114325,614.440771,474.174931,340.111570
9,37,1U,0A4013,3.466897e+06,4.003021,5.0,0.0,6.752266,303.119335,203.367069,...,2009.638973,2186.114804,2343.034743,2534.595166,1834.673716,1295.327795,1003.782477,817.105740,620.909366,463.104230
10,37,1U,0A5903,3.574302e+06,4.056478,3.0,0.0,6.946844,523.604651,350.468439,...,2532.237542,2635.294020,2658.945183,2618.363787,2341.612957,2019.019934,1640.694352,1410.016611,1142.230897,836.963455
11,37,1U,0A9108,3.617297e+06,4.057402,3.0,0.0,6.096677,529.737160,301.586103,...,3885.208459,4284.066465,4552.067976,4143.120846,3606.678248,2633.696375,2054.277946,1788.877644,1308.370091,892.149547
12,37,2U,0A2501,3.548322e+06,4.024862,3.0,0.0,6.533149,207.607735,135.457182,...,1747.128453,1857.665746,2031.017956,1986.602210,1512.734807,1148.031768,869.472376,685.450276,492.628453,339.990331
13,37,2U,0A3104,3.485615e+06,4.011070,3.0,0.0,5.029520,301.387454,156.265683,...,1929.594096,2382.627306,2868.328413,2896.311808,2233.075646,1475.920664,1091.173432,920.088561,752.350554,513.612546
14,37,2U,0A4008,3.452828e+06,4.026718,3.0,0.0,7.064885,156.505725,92.734733,...,895.795802,993.003817,1073.202290,1200.828244,896.332061,649.225191,488.986641,396.293893,323.646947,252.919847
15,37,2U,0A4012,3.600546e+06,4.006757,5.0,0.0,6.864865,266.494932,173.097973,...,1552.109797,1699.310811,1865.260135,2066.511824,1524.983108,1070.380068,841.006757,706.407095,550.650338,411.613176
16,37,2U,0A6405,3.413555e+06,4.011111,5.0,0.0,6.536111,148.908333,98.726389,...,1673.719444,1779.376389,1880.784722,1868.795833,1421.979167,1002.862500,747.876389,587.538889,397.872222,263.161111
17,37,2U,0A9107,3.550963e+06,4.012232,5.0,0.0,6.513761,356.897554,203.267584,...,2254.593272,2566.278287,2886.464832,2867.149847,2366.681957,1589.620795,1206.802752,1093.266055,829.336391,578.556575
18,37,2U,0W1701,3.526744e+06,4.011050,3.0,0.0,6.549724,117.997238,84.769337,...,880.258287,1005.071823,1067.348066,1141.879834,840.558011,607.045580,477.207182,380.505525,278.517956,188.856354
19,37,2U,0W2802,3.584196e+06,4.016529,3.0,0.0,6.537190,123.092287,81.515152,...,711.440771,794.541322,882.132231,927.239669,666.756198,479.512397,375.804408,313.180441,254.365014,190.517906

In [44]:
df_mean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 0 to 66
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   fips_state_code                            67 non-null     int64
 1   functional_classification                  67 non-null     object
 2   station_id                                 67 non-null     object
 3   Unnamed: 0                                 67 non-null     float64
 4   day_of_week                                67 non-null     float64
 5   direction_of_travel                        67 non-null     float64
 6   lane_of_travel                             67 non-null     float64
 7   month_of_data                              67 non-null     float64
 8   traffic_volume_counted_after_0000_to_0100  67 non-null     float64
 9   traffic_volume_counted_after_0100_to_0200  67 non-null     float64
 10  traffic_volume_counted_after_0200_to_0300  67 non-null     float64
 11  traffic_volume_counted_after_0300_to_0400  67 non-null     float64
 12  traffic_volume_counted_after_0400_to_0500  67 non-null     float64
 13  traffic_volume_counted_after_0500_to_0600  67 non-null     float64
 14  traffic_volume_counted_after_0600_to_0700  67 non-null     float64
 15  traffic_volume_counted_after_0700_to_0800  67 non-null     float64
 16  traffic_volume_counted_after_0800_to_0900  67 non-null     float64
 17  traffic_volume_counted_after_0900_to_1000  67 non-null     float64
 18  traffic_volume_counted_after_1000_to_1100  67 non-null     float64
 19  traffic_volume_counted_after_1100_to_1200  67 non-null     float64
 20  traffic_volume_counted_after_1200_to_1300  67 non-null     float64
 21  traffic_volume_counted_after_1300_to_1400  67 non-null     float64
 22  traffic_volume_counted_after_1400_to_1500  67 non-null     float64
 23  traffic_volume_counted_after_1500_to_1600  67 non-null     float64
 24  traffic_volume_counted_after_1600_to_1700  67 non-null     float64
 25  traffic_volume_counted_after_1700_to_1800  67 non-null     float64
 26  traffic_volume_counted_after_1800_to_1900  67 non-null     float64
 27  traffic_volume_counted_after_1900_to_2000  67 non-null     float64
 28  traffic_volume_counted_after_2000_to_2100  67 non-null     float64
 29  traffic_volume_counted_after_2100_to_2200  67 non-null     float64
 30  traffic_volume_counted_after_2200_to_2300  67 non-null     float64
 31  traffic_volume_counted_after_2300_to_2400  67 non-null     float64
dtypes: float64(29), int64(1), object(2)
memory usage: 17.3+ KB

In [46]:
df_mean.drop(['day_of_week','direction_of_travel','lane_of_travel','month_of_data'], axis=1, inplace=True)

In [47]:
df_mean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 67 entries, 0 to 66
Data columns (total 28 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   fips_state_code                            67 non-null     int64
 1   functional_classification                  67 non-null     object
 2   station_id                                 67 non-null     object
 3   Unnamed: 0                                 67 non-null     float64
 4   traffic_volume_counted_after_0000_to_0100  67 non-null     float64
 5   traffic_volume_counted_after_0100_to_0200  67 non-null     float64
 6   traffic_volume_counted_after_0200_to_0300  67 non-null     float64
 7   traffic_volume_counted_after_0300_to_0400  67 non-null     float64
 8   traffic_volume_counted_after_0400_to_0500  67 non-null     float64
 9   traffic_volume_counted_after_0500_to_0600  67 non-null     float64
 10  traffic_volume_counted_after_0600_to_0700  67 non-null     float64
 11  traffic_volume_counted_after_0700_to_0800  67 non-null     float64
 12  traffic_volume_counted_after_0800_to_0900  67 non-null     float64
 13  traffic_volume_counted_after_0900_to_1000  67 non-null     float64
 14  traffic_volume_counted_after_1000_to_1100  67 non-null     float64
 15  traffic_volume_counted_after_1100_to_1200  67 non-null     float64
 16  traffic_volume_counted_after_1200_to_1300  67 non-null     float64
 17  traffic_volume_counted_after_1300_to_1400  67 non-null     float64
 18  traffic_volume_counted_after_1400_to_1500  67 non-null     float64
 19  traffic_volume_counted_after_1500_to_1600  67 non-null     float64
 20  traffic_volume_counted_after_1600_to_1700  67 non-null     float64
 21  traffic_volume_counted_after_1700_to_1800  67 non-null     float64
 22  traffic_volume_counted_after_1800_to_1900  67 non-null     float64
 23  traffic_volume_counted_after_1900_to_2000  67 non-null     float64
 24  traffic_volume_counted_after_2000_to_2100  67 non-null     float64
 25  traffic_volume_counted_after_2100_to_2200  67 non-null     float64
 26  traffic_volume_counted_after_2200_to_2300  67 non-null     float64
 27  traffic_volume_counted_after_2300_to_2400  67 non-null     float64
dtypes: float64(25), int64(1), object(2)
memory usage: 15.2+ KB

In [48]:
df_stations = pd.read_csv("final_dataset_stations.csv", header=0, sep=',', quotechar='"')

In [49]:
cols = df_stations[['latitude','longitude','national_highway_system','station_id','fips_state_code']]

In [50]:
cols.head(5)

   latitude  longitude national_highway_system station_id  fips_state_code
0   35.3117    80.8283                       N     0A5906               37
1   34.5082    79.2992                       Y     377701               37
2   36.0316    79.8101                       Y     0A4007               37
3   36.4573    80.7690                       Y     378502               37
4   36.0552    80.1484                       Y     371817               37

In [51]:
cols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   latitude                 448 non-null    float64
 1   longitude                448 non-null    float64
 2   national_highway_system  448 non-null    object
 3   station_id               448 non-null    object
 4   fips_state_code          448 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 17.6+ KB