In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("dot_traffic_2015.txt.gz", header=0, sep=',', quotechar='"')

In [ ]:
df.head()

,date,day_of_data,day_of_week,direction_of_travel,direction_of_travel_name,fips_state_code,functional_classification,functional_classification_name,lane_of_travel,month_of_data,...,traffic_volume_counted_after_1500_to_1600,traffic_volume_counted_after_1600_to_1700,traffic_volume_counted_after_1700_to_1800,traffic_volume_counted_after_1800_to_1900,traffic_volume_counted_after_1900_to_2000,traffic_volume_counted_after_2000_to_2100,traffic_volume_counted_after_2100_to_2200,traffic_volume_counted_after_2200_to_2300,traffic_volume_counted_after_2300_to_2400,year_of_data
0,2015-04-07,7,3,1,North,56,3R,Rural: Principal Arterial - Other,1,4,...,89,122,124,110,69,73,28,12,6,15
1,2015-09-26,26,7,7,West,21,1U,Urban: Principal Arterial - Interstate,2,9,...,1617,1669,1308,1068,928,885,798,650,613,15
2,2015-06-16,16,3,3,East,6,1U,Urban: Principal Arterial - Interstate,0,6,...,4244,4405,4609,4361,3272,2243,2050,1453,892,15
3,2015-04-26,26,1,5,South,55,1U,Urban: Principal Arterial - Interstate,1,4,...,1011,959,851,708,559,457,297,207,110,15
4,2015-05-23,23,7,3,East,4,4R,Rural: Minor Arterial,0,5,...,83,61,55,35,29,21,23,9,7,15

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140391 entries, 0 to 7140390
Data columns (total 38 columns):
 #   Column                                     Dtype
---  ------                                     -----
 0   date                                       object
 1   day_of_data                                int64
 2   day_of_week                                int64
 3   direction_of_travel                        int64
 4   direction_of_travel_name                   object
 5   fips_state_code                            int64
 6   functional_classification                  object
 7   functional_classification_name             object
 8   lane_of_travel                             int64
 9   month_of_data                              int64
 10  record_type                                int64
 11  restrictions                               float64
 12  station_id                                 object
 13  traffic_volume_counted_after_0000_to_0100  int64
 14  traffic_volume_counted_after_0100_to_0200  int64
 15  traffic_volume_counted_after_0200_to_0300  int64
 16  traffic_volume_counted_after_0300_to_0400  int64
 17  traffic_volume_counted_after_0400_to_0500  int64
 18  traffic_volume_counted_after_0500_to_0600  int64
 19  traffic_volume_counted_after_0600_to_0700  int64
 20  traffic_volume_counted_after_0700_to_0800  int64
 21  traffic_volume_counted_after_0800_to_0900  int64
 22  traffic_volume_counted_after_0900_to_1000  int64
 23  traffic_volume_counted_after_1000_to_1100  int64
 24  traffic_volume_counted_after_1100_to_1200  int64
 25  traffic_volume_counted_after_1200_to_1300  int64
 26  traffic_volume_counted_after_1300_to_1400  int64
 27  traffic_volume_counted_after_1400_to_1500  int64
 28  traffic_volume_counted_after_1500_to_1600  int64
 29  traffic_volume_counted_after_1600_to_1700  int64
 30  traffic_volume_counted_after_1700_to_1800  int64
 31  traffic_volume_counted_after_1800_to_1900  int64
 32  traffic_volume_counted_after_1900_to_2000  int64
 33  traffic_volume_counted_after_2000_to_2100  int64
 34  traffic_volume_counted_after_2100_to_2200  int64
 35  traffic_volume_counted_after_2200_to_2300  int64
 36  traffic_volume_counted_after_2300_to_2400  int64
 37  year_of_data                               int64
dtypes: float64(1), int64(32), object(5)
memory usage: 2.0+ GB

In [ ]:
df_sc = df.loc[df['fips_state_code'] == 45,:]

In [ ]:
df_sc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42928 entries, 131 to 7140249
Data columns (total 38 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   date                                       42928 non-null  object
 1   day_of_data                                42928 non-null  int64
 2   day_of_week                                42928 non-null  int64
 3   direction_of_travel                        42928 non-null  int64
 4   direction_of_travel_name                   42928 non-null  object
 5   fips_state_code                            42928 non-null  int64
 6   functional_classification                  42928 non-null  object
 7   functional_classification_name             42928 non-null  object
 8   lane_of_travel                             42928 non-null  int64
 9   month_of_data                              42928 non-null  int64
 10  record_type                                42928 non-null  int64
 11  restrictions                               0 non-null      float64
 12  station_id                                 42928 non-null  object
 13  traffic_volume_counted_after_0000_to_0100  42928 non-null  int64
 14  traffic_volume_counted_after_0100_to_0200  42928 non-null  int64
 15  traffic_volume_counted_after_0200_to_0300  42928 non-null  int64
 16  traffic_volume_counted_after_0300_to_0400  42928 non-null  int64
 17  traffic_volume_counted_after_0400_to_0500  42928 non-null  int64
 18  traffic_volume_counted_after_0500_to_0600  42928 non-null  int64
 19  traffic_volume_counted_after_0600_to_0700  42928 non-null  int64
 20  traffic_volume_counted_after_0700_to_0800  42928 non-null  int64
 21  traffic_volume_counted_after_0800_to_0900  42928 non-null  int64
 22  traffic_volume_counted_after_0900_to_1000  42928 non-null  int64
 23  traffic_volume_counted_after_1000_to_1100  42928 non-null  int64
 24  traffic_volume_counted_after_1100_to_1200  42928 non-null  int64
 25  traffic_volume_counted_after_1200_to_1300  42928 non-null  int64
 26  traffic_volume_counted_after_1300_to_1400  42928 non-null  int64
 27  traffic_volume_counted_after_1400_to_1500  42928 non-null  int64
 28  traffic_volume_counted_after_1500_to_1600  42928 non-null  int64
 29  traffic_volume_counted_after_1600_to_1700  42928 non-null  int64
 30  traffic_volume_counted_after_1700_to_1800  42928 non-null  int64
 31  traffic_volume_counted_after_1800_to_1900  42928 non-null  int64
 32  traffic_volume_counted_after_1900_to_2000  42928 non-null  int64
 33  traffic_volume_counted_after_2000_to_2100  42928 non-null  int64
 34  traffic_volume_counted_after_2100_to_2200  42928 non-null  int64
 35  traffic_volume_counted_after_2200_to_2300  42928 non-null  int64
 36  traffic_volume_counted_after_2300_to_2400  42928 non-null  int64
 37  year_of_data                               42928 non-null  int64
dtypes: float64(1), int64(32), object(5)
memory usage: 12.8+ MB

In [ ]:
df_nc = df.loc[df['fips_state_code'] == 37,:]

In [ ]:
df_final = df_nc.append([df_sc])

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87152 entries, 122 to 7140249
Data columns (total 38 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   date                                       87152 non-null  object
 1   day_of_data                                87152 non-null  int64
 2   day_of_week                                87152 non-null  int64
 3   direction_of_travel                        87152 non-null  int64
 4   direction_of_travel_name                   87152 non-null  object
 5   fips_state_code                            87152 non-null  int64
 6   functional_classification                  87152 non-null  object
 7   functional_classification_name             87152 non-null  object
 8   lane_of_travel                             87152 non-null  int64
 9   month_of_data                              87152 non-null  int64
 10  record_type                                87152 non-null  int64
 11  restrictions                               0 non-null      float64
 12  station_id                                 87152 non-null  object
 13  traffic_volume_counted_after_0000_to_0100  87152 non-null  int64
 14  traffic_volume_counted_after_0100_to_0200  87152 non-null  int64
 15  traffic_volume_counted_after_0200_to_0300  87152 non-null  int64
 16  traffic_volume_counted_after_0300_to_0400  87152 non-null  int64
 17  traffic_volume_counted_after_0400_to_0500  87152 non-null  int64
 18  traffic_volume_counted_after_0500_to_0600  87152 non-null  int64
 19  traffic_volume_counted_after_0600_to_0700  87152 non-null  int64
 20  traffic_volume_counted_after_0700_to_0800  87152 non-null  int64
 21  traffic_volume_counted_after_0800_to_0900  87152 non-null  int64
 22  traffic_volume_counted_after_0900_to_1000  87152 non-null  int64
 23  traffic_volume_counted_after_1000_to_1100  87152 non-null  int64
 24  traffic_volume_counted_after_1100_to_1200  87152 non-null  int64
 25  traffic_volume_counted_after_1200_to_1300  87152 non-null  int64
 26  traffic_volume_counted_after_1300_to_1400  87152 non-null  int64
 27  traffic_volume_counted_after_1400_to_1500  87152 non-null  int64
 28  traffic_volume_counted_after_1500_to_1600  87152 non-null  int64
 29  traffic_volume_counted_after_1600_to_1700  87152 non-null  int64
 30  traffic_volume_counted_after_1700_to_1800  87152 non-null  int64
 31  traffic_volume_counted_after_1800_to_1900  87152 non-null  int64
 32  traffic_volume_counted_after_1900_to_2000  87152 non-null  int64
 33  traffic_volume_counted_after_2000_to_2100  87152 non-null  int64
 34  traffic_volume_counted_after_2100_to_2200  87152 non-null  int64
 35  traffic_volume_counted_after_2200_to_2300  87152 non-null  int64
 36  traffic_volume_counted_after_2300_to_2400  87152 non-null  int64
 37  year_of_data                               87152 non-null  int64
dtypes: float64(1), int64(32), object(5)
memory usage: 25.9+ MB

In [ ]:
df_final.to_csv('final_dataset.csv', index=False)

In [ ]:
df_stations = pd.read_csv("dot_traffic_stations_2015.txt.gz", header=0, sep=',', quotechar='"')

In [ ]:
df_stations.head()

,algorithm_of_vehicle_classification,algorithm_of_vehicle_classification_name,calibration_of_weighing_system,calibration_of_weighing_system_name,classification_system_for_vehicle_classification,concurrent_route_signing,concurrent_signed_route_number,direction_of_travel,direction_of_travel_name,fips_county_code,...,sample_type_for_vehicle_classification_name,second_type_of_sensor,shrp_site_identification,station_id,station_location,type_of_sensor,type_of_sensor_name,year_of_data,year_station_discontinued,year_station_established
0,NaN,NaN,NaN,NaN,13,3,091,7,West,59,...,Station not used for Heavy Vehicle Travel Info...,N,NaN,129130,LAKEVIEW AVENUE ORA91R10.091,L,Inductance loop,15,0,97
1,NaN,NaN,NaN,NaN,13,3,099,5,South,77,...,Station not used for Heavy Vehicle Travel Info...,N,NaN,100190,LITTLE JOHN CREEK SJ9912.526,L,Inductance loop,15,0,97
2,G,Axle spacing with Scheme F modified,NaN,NaN,15,1,005,1,North,93,...,Station used for Heavy Vehicle Travel Informat...,N,NaN,022940,EDGEWOOD SIS5R22.999,P,Piezoelectric,15,0,69
3,D,Vehicle length classification,M,Moving average of the steering axle of 3S2s,13,0,NaN,5,South,35,...,Station not used for Heavy Vehicle Travel Info...,NaN,NaN,000302,I 15 12900 South M.P. 290.6,X,Radio wave,15,0,11
4,G,Axle spacing with Scheme F modified,0,NaN,14,1,000000,7,West,27,...,Station not used for Heavy Vehicle Travel Info...,NaN,NaN,W01136,E. of Franklin Rd Underpass,L,Inductance loop,15,0,95

In [ ]:
df_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28466 entries, 0 to 28465
Data columns (total 55 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   algorithm_of_vehicle_classification               18576 non-null  object
 1   algorithm_of_vehicle_classification_name          17335 non-null  object
 2   calibration_of_weighing_system                    8165 non-null   object
 3   calibration_of_weighing_system_name               6681 non-null   object
 4   classification_system_for_vehicle_classification  28466 non-null  int64
 5   concurrent_route_signing                          28466 non-null  int64
 6   concurrent_signed_route_number                    13592 non-null  object
 7   direction_of_travel                               28466 non-null  int64
 8   direction_of_travel_name                          28466 non-null  object
 9   fips_county_code                                  28466 non-null  int64
 10  fips_state_code                                   28466 non-null  int64
 11  functional_classification                         28466 non-null  object
 12  functional_classification_name                    28466 non-null  object
 13  hpms_sample_identifier                            13218 non-null  object
 14  hpms_sample_type                                  28466 non-null  object
 15  lane_of_travel                                    28466 non-null  int64
 16  lane_of_travel_name                               28466 non-null  object
 17  latitude                                          28465 non-null  float64
 18  longitude                                         28465 non-null  float64
 19  lrs_identification                                22950 non-null  object
 20  lrs_location_point                                19467 non-null  float64
 21  method_of_data_retrieval                          28466 non-null  int64
 22  method_of_data_retrieval_name                     28026 non-null  object
 23  method_of_traffic_volume_counting                 28466 non-null  int64
 24  method_of_traffic_volume_counting_name            27586 non-null  object
 25  method_of_truck_weighing                          28466 non-null  int64
 26  method_of_truck_weighing_name                     5886 non-null   object
 27  method_of_vehicle_classification                  28466 non-null  int64
 28  method_of_vehicle_classification_name             17286 non-null  object
 29  national_highway_system                           28466 non-null  object
 30  number_of_lanes_in_direction_indicated            28466 non-null  int64
 31  number_of_lanes_monitored_for_traffic_volume      28466 non-null  int64
 32  number_of_lanes_monitored_for_truck_weight        28466 non-null  int64
 33  number_of_lanes_monitored_for_vehicle_class       28466 non-null  int64
 34  posted_route_signing                              28466 non-null  int64
 35  posted_signed_route_number                        27672 non-null  object
 36  previous_station_id                               5955 non-null   object
 37  primary_purpose                                   28256 non-null  object
 38  primary_purpose_name                              27818 non-null  object
 39  record_type                                       28466 non-null  object
 40  sample_type_for_traffic_volume                    27654 non-null  object
 41  sample_type_for_traffic_volume_name               27416 non-null  object
 42  sample_type_for_truck_weight                      16404 non-null  object
 43  sample_type_for_truck_weight_name                 15654 non-null  object
 44  sample_type_for_vehicle_classification            24979 non-null  object
 45  sample_type_for_vehicle_classification_name       24052 non-null  object
 46  second_type_of_sensor                             22730 non-null  object
 47  shrp_site_identification                          4053 non-null   object
 48  station_id                                        28466 non-null  object
 49  station_location                                  28429 non-null  object
 50  type_of_sensor                                    28114 non-null  object
 51  type_of_sensor_name                               28114 non-null  object
 52  year_of_data                                      28466 non-null  int64
 53  year_station_discontinued                         28466 non-null  int64
 54  year_station_established                          28466 non-null  int64
dtypes: float64(3), int64(18), object(34)
memory usage: 11.9+ MB

In [ ]:
df_stations['station_id'].value_counts()

000003    72
000002    60
000004    55
000001    53
000012    53
          ..
970311     1
S00DRM     1
090744     1
069644     1
795305     1
Name: station_id, Length: 6260, dtype: int64

In [ ]:
df_stations_sc = df_stations.loc[df_stations['fips_state_code'] == 45,:]

In [ ]:
df_stations_nc = df_stations.loc[df_stations['fips_state_code'] == 37,:]

In [ ]:
df_stations_final = df_stations_nc.append([df_stations_sc])

In [ ]:
df_stations_final.to_csv('final_stations_dataset.csv', index=False)

In [ ]:
cols = df_stations_final[['latitude','longitude','station_id']]

In [ ]:
cols.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 595 entries, 38 to 28284
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   latitude    595 non-null    float64
 1   longitude   595 non-null    float64
 2   station_id  595 non-null    object
dtypes: float64(2), object(1)
memory usage: 18.6+ KB

In [ ]:
df_final_latlong = df_final.merge(cols, on='station_id', how='inner')

In [ ]:
df_final_latlong.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 132912 entries, 0 to 132911
Data columns (total 40 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   date                                       132912 non-null  object
 1   day_of_data                                132912 non-null  int64
 2   day_of_week                                132912 non-null  int64
 3   direction_of_travel                        132912 non-null  int64
 4   direction_of_travel_name                   132912 non-null  object
 5   fips_state_code                            132912 non-null  int64
 6   functional_classification                  132912 non-null  object
 7   functional_classification_name             132912 non-null  object
 8   lane_of_travel                             132912 non-null  int64
 9   month_of_data                              132912 non-null  int64
 10  record_type                                132912 non-null  int64
 11  restrictions                               0 non-null       float64
 12  station_id                                 132912 non-null  object
 13  traffic_volume_counted_after_0000_to_0100  132912 non-null  int64
 14  traffic_volume_counted_after_0100_to_0200  132912 non-null  int64
 15  traffic_volume_counted_after_0200_to_0300  132912 non-null  int64
 16  traffic_volume_counted_after_0300_to_0400  132912 non-null  int64
 17  traffic_volume_counted_after_0400_to_0500  132912 non-null  int64
 18  traffic_volume_counted_after_0500_to_0600  132912 non-null  int64
 19  traffic_volume_counted_after_0600_to_0700  132912 non-null  int64
 20  traffic_volume_counted_after_0700_to_0800  132912 non-null  int64
 21  traffic_volume_counted_after_0800_to_0900  132912 non-null  int64
 22  traffic_volume_counted_after_0900_to_1000  132912 non-null  int64
 23  traffic_volume_counted_after_1000_to_1100  132912 non-null  int64
 24  traffic_volume_counted_after_1100_to_1200  132912 non-null  int64
 25  traffic_volume_counted_after_1200_to_1300  132912 non-null  int64
 26  traffic_volume_counted_after_1300_to_1400  132912 non-null  int64
 27  traffic_volume_counted_after_1400_to_1500  132912 non-null  int64
 28  traffic_volume_counted_after_1500_to_1600  132912 non-null  int64
 29  traffic_volume_counted_after_1600_to_1700  132912 non-null  int64
 30  traffic_volume_counted_after_1700_to_1800  132912 non-null  int64
 31  traffic_volume_counted_after_1800_to_1900  132912 non-null  int64
 32  traffic_volume_counted_after_1900_to_2000  132912 non-null  int64
 33  traffic_volume_counted_after_2000_to_2100  132912 non-null  int64
 34  traffic_volume_counted_after_2100_to_2200  132912 non-null  int64
 35  traffic_volume_counted_after_2200_to_2300  132912 non-null  int64
 36  traffic_volume_counted_after_2300_to_2400  132912 non-null  int64
 37  year_of_data                               132912 non-null  int64
 38  latitude                                   132912 non-null  float64
 39  longitude                                  132912 non-null  float64
dtypes: float64(3), int64(32), object(5)
memory usage: 41.6+ MB

In [ ]:
df_final_latlong.to_csv('final_dataset_lat.csv', index=False)

In [ ]:
df_final_latlong.drop_duplicates(inplace=True)

In [ ]:
df_final_latlong

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87152 entries, 0 to 132911
Data columns (total 40 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   date                                       87152 non-null  object
 1   day_of_data                                87152 non-null  int64
 2   day_of_week                                87152 non-null  int64
 3   direction_of_travel                        87152 non-null  int64
 4   direction_of_travel_name                   87152 non-null  object
 5   fips_state_code                            87152 non-null  int64
 6   functional_classification                  87152 non-null  object
 7   functional_classification_name             87152 non-null  object
 8   lane_of_travel                             87152 non-null  int64
 9   month_of_data                              87152 non-null  int64
 10  record_type                                87152 non-null  int64
 11  restrictions                               0 non-null      float64
 12  station_id                                 87152 non-null  object
 13  traffic_volume_counted_after_0000_to_0100  87152 non-null  int64
 14  traffic_volume_counted_after_0100_to_0200  87152 non-null  int64
 15  traffic_volume_counted_after_0200_to_0300  87152 non-null  int64
 16  traffic_volume_counted_after_0300_to_0400  87152 non-null  int64
 17  traffic_volume_counted_after_0400_to_0500  87152 non-null  int64
 18  traffic_volume_counted_after_0500_to_0600  87152 non-null  int64
 19  traffic_volume_counted_after_0600_to_0700  87152 non-null  int64
 20  traffic_volume_counted_after_0700_to_0800  87152 non-null  int64
 21  traffic_volume_counted_after_0800_to_0900  87152 non-null  int64
 22  traffic_volume_counted_after_0900_to_1000  87152 non-null  int64
 23  traffic_volume_counted_after_1000_to_1100  87152 non-null  int64
 24  traffic_volume_counted_after_1100_to_1200  87152 non-null  int64
 25  traffic_volume_counted_after_1200_to_1300  87152 non-null  int64
 26  traffic_volume_counted_after_1300_to_1400  87152 non-null  int64
 27  traffic_volume_counted_after_1400_to_1500  87152 non-null  int64
 28  traffic_volume_counted_after_1500_to_1600  87152 non-null  int64
 29  traffic_volume_counted_after_1600_to_1700  87152 non-null  int64
 30  traffic_volume_counted_after_1700_to_1800  87152 non-null  int64
 31  traffic_volume_counted_after_1800_to_1900  87152 non-null  int64
 32  traffic_volume_counted_after_1900_to_2000  87152 non-null  int64
 33  traffic_volume_counted_after_2000_to_2100  87152 non-null  int64
 34  traffic_volume_counted_after_2100_to_2200  87152 non-null  int64
 35  traffic_volume_counted_after_2200_to_2300  87152 non-null  int64
 36  traffic_volume_counted_after_2300_to_2400  87152 non-null  int64
 37  year_of_data                               87152 non-null  int64
 38  latitude                                   87152 non-null  float64
 39  longitude                                  87152 non-null  float64
dtypes: float64(3), int64(32), object(5)
memory usage: 27.3+ MB

In [ ]:
df_final_latlong.to_csv('final_dataset_lat.csv', index=False)